# if else 
<pre>
if condition:
    run this code
    here also
    
else:
    run this else</pre>

In [2]:
x = 10

In [3]:
if x>10:
    print("its greater")
else:
    print("its smaller")

its smaller

In [4]:
# constant True or False

if True:
    print("always true")
else:
    print("doesnt print")

always true

In [6]:
# to check odd or even

n = int(input("Enter the number: "))
if n%2==0:
    print(n,"is Even")
else:
    print(n,"is Odd")

Enter the number: 11
11  is Odd

In [9]:
name = input("Enter your name: ")
if name=='deepak' or 'charan':
    print(f"Welcome to the hall {name}")
else:
    print(f"Sorry no entry for {name}")

Enter your name: charan
Welcome to the hall charan

In [14]:
name = input("Enter your name: ")
if name=='deepak':
    print(f"Welcome to the hall {name}")
else:
    if name=='charan':
        print(f"Welcome to the hall {name}")
    else:
        print(f"Sorry no entry for {name}")

Enter your name: charan
Welcome to the hall charan

In [16]:
# can use elif instead of branching inside and inside

name = input("Enter your name: ")
if name=='deepak':
    print(f"Welcome to the hall {name}")
elif name=='charan':
    print(f"Welcome to the hall {name}")
else:
    print(f"Sorry no entry for {name}")

Enter your name: shreesha
Sorry no entry for shreesha

# For Loop (iterator)

<pre>
for i in range() or enumerate():
    loop statement

for i in list or tuple or set or string:
    statement</pre>

In [2]:
l1 = [11,21,35,24,2,6]

In [19]:
for num in l1:
    print(num*num)

121
441
1225
576
4
36

In [21]:
odd = []
even = []
for num in l1:
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print("odd numbers are",odd)
print("even numbers are",even)

odd numbers are [11, 21, 35]
even numbers are [24, 2, 6]

In [22]:
for num in l1:
    if num%2==0:
        print("even",num)
    else:
        print("odd",num)

odd 11
odd 21
odd 35
even 24
even 2
even 6

In [26]:
# sum up all the nos in the list
total = 0
for num in l1:
    total += num
print(total)

99

In [3]:
sum(l1)  # built in

99

In [4]:
range(10)     # gives values from 0 to 9

range(0, 10)

In [6]:
for i in range(2,9):         # 2,n-1
    print(i)

2
3
4
5
6
7
8

In [7]:
for i in range(1,12,2):         # 2,n-1,stepsize-1 
    print(i)

1
3
5
7
9
11

In [8]:
l1

[11, 21, 35, 24, 2, 6]

In [9]:
for i in range(len(l1)):  # use indexing to print list 
    print(l1[i])

11
21
35
24
2
6

# While Loop

initialization
while condition:
    statements
    increment

In [10]:
x = 10

In [11]:
while x>0:        # till the condition false it will run
    print(x)
    x = x - 1     # if its not done it goes to infinite times

10
9
8
7
6
5
4
3
2
1

In [15]:
l1 = [11, 21, 35, 24, 2, 6]
i = 0 
while i<len(l1):
    print(l1[i])
    i= i+1

11
21
35
24
2
6

# Break and Continue and Pass

In [21]:
# break at 5

x = 0
while x<10:
    x = x + 1
    print(x)
    if x == 5:
        break

1
2
3
4
5

In [24]:
# continue to skip iteration at 5 

x = 0
while x<10:
    x = x + 1
    if x == 5:
        continue
    print(x)          # skip of 5

1
2
3
4
6
7
8
9
10

In [27]:
l1 = [1,2,3,4,5,6,7]
for i in l1:
    if i%2==0:
        continue
    print(i)

1
3
5
7

In [32]:
i = 2
if i>0:

SyntaxError: incomplete input (925180593.py, line 3)

In [33]:
# so use pass : to do not want to do any thing
i = 2
if i>0:
    pass