# Usefull operators

# generative function
1. range(start,end,stepsize)  
2. enumerate()
3. zip(v1,v2)

## range

In [1]:
tuple(range(2,13,2))  # tuple of even numbers

(2, 4, 6, 8, 10, 12)

In [5]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
l = list(range(1,12,2))   # odd nos

## enumerate

In [7]:
for index,value in enumerate(l):
    print(index,value)

0 1
1 3
2 5
3 7
4 9
5 11

In [11]:
s = 'abcd'
list(enumerate(s))   # gives a list of tuples

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [12]:
d = dict(enumerate(s))

d[0]

'a'

In [14]:
d

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}

In [17]:
l = ['shreesha','rajgopal']
d = dict(enumerate(l))
d

{0: 'shreesha', 1: 'rajgopal'}

## zip 

there instead of haveing index values you can have another values

In [27]:
roll = [11,13,4,5,6]
student = ['a','b','c','d','e','f']

In [28]:
z = zip(roll,student)

In [29]:
z

In [30]:
for i in zip(roll,student):
    print(i)

(11, 'a')
(13, 'b')
(4, 'c')
(5, 'd')
(6, 'e')

In [31]:
d = dict(z)

In [32]:
d

{11: 'a', 13: 'b', 4: 'c', 5: 'd', 6: 'e'}

# in operator

In [33]:
if 10 in [1,2,3,4,5,10,12,14]:
    print("True")

True

In [34]:
'c' in "abcdef"

True

In [35]:
'a' in d

False

In [37]:
'c' not in 'ab'

True

# min max operator

In [38]:
l = list(d)

In [39]:
l

[11, 13, 4, 5, 6]

In [40]:
min(l)

4

In [41]:
max(l)

13

# input  - always takes in form of string

In [43]:
s = input("Enter the name: ")
s

Enter the name: shreesha

'shreesha'

In [44]:
type(s)

str

In [45]:
i = int(input("Enter the number: "))     # crash if wrong input

Enter the number: s

ValueError: invalid literal for int() with base 10: 's'

In [46]:
try:
    i = int(input("Enter the number: "))
except:
    print("Enter the number only")

Enter the number: s
Enter the number only

In [48]:
i = int(input("Enter the number: "))
type(i)

Enter the number: 54

int

### calculate the company with highest stock price

In [49]:
stock_name = ['apple', 'micorsoft', 'google', 'tesla']
stock_prices = [208, 356, 598, 437]

In [57]:
m = stock_prices[0]
c = stock_name[0]
for sn,sp in zip(stock_name,stock_prices):
    if sp>m:
        m = sp
        c = sn
print(f"The highest stock price is by company {c}")

The highest stock price is by company google

### create a dictionary of the VC students

In [76]:
usn = [f"4VP20AI00{i}" for i in range(1,10)]

In [77]:
import random 
students = []
for i in range(1,10):
    name = ''
    for i in range(1,7):
        name += chr(random.randint(1, 26) + 96)  # Adding 96 to map to lowercase letters
    students.append(name)
students

['ejlzyr',
 'hgsvwa',
 'dztugf',
 'dhowrx',
 'nrppfa',
 'shgupk',
 'woisfs',
 'lubgne',
 'iwdujq']

In [78]:
# Use random.randint(1, 26) to generate a random number between 1 and 26
# and then convert it to a character using chr()
# name += chr(random.randint(1, 26) + 96)  # Adding 96 to map to lowercase letters

In [79]:
d = dict(zip(usn,students))

In [80]:
d

{'4VP20AI001': 'ejlzyr',
 '4VP20AI002': 'hgsvwa',
 '4VP20AI003': 'dztugf',
 '4VP20AI004': 'dhowrx',
 '4VP20AI005': 'nrppfa',
 '4VP20AI006': 'shgupk',
 '4VP20AI007': 'woisfs',
 '4VP20AI008': 'lubgne',
 '4VP20AI009': 'iwdujq'}

In [81]:
d['4VP20AI004']

'dhowrx'

# Functions 
* its name given to a block of code that can be called again and again

def name(arg1,arg2,arg3,....):            # function definition
    codes
    for the logic
    return value if needed
name(value1,value2,value3,.....)           # function call

In [98]:
def hello():
    print("hello")

In [100]:
hello()
hello()

hello
hello

In [110]:
s = hello()
type(s)             # none type

hello

NoneType

In [101]:
def greet(name):
    print(f"Welcome {name}")

In [102]:
greet("Shreesha")
greet("Rajgopal")

Welcome Shreesha
Welcome Rajgopal

In [103]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    if b==0:
        print("Infinity")
        return
    return a/b

In [104]:
div(10,5)

2.0

In [108]:
print(sub(10,3))

7

In [109]:
div(10,0)

Infinity

In [114]:
# Even or odd number 
n = 2

In [116]:
def check_even_odd(num):
    if num%2==0:
        return 'even'
    else:
        return 'odd'

check_even_odd(n)

'even'

In [117]:
check_even_odd(1)

'odd'

In [119]:
# return statement in any fucntion will only work once then terminate function

def summ(l):
    s = 0
    for i in l:
        s += i
    return s

summ([1,2,3,4,5])

15

In [121]:
def check_even_odd(num):
    if num%2==0:
        return 1
    else:
        return 0

if check_even_odd(n) == 1:
    print("Even")
else:
    print("Odd")

Even

In [127]:
# divide the list into odd and even list and return it from function

lst = [12, 45, 10, 82, 78, 21, 78, 20, 63, 81, 8]

def div_list_even_odd(l):
    even = [i for i in l if i%2==0]
    odd = [i for i in l if i%2!=0]
    return even,odd

In [129]:
e,o = div_list_even_odd(lst)
print(f"even list is {e} \nodd list is {o}")

even list is [12, 10, 82, 78, 78, 20, 8]
odd list is [45, 21, 63, 81]

## Methods 
* are also a functions that are inside the class

In [82]:
'string'.upper()

'STRING'

In [84]:
'string'.count('s')

1

In [89]:
l = [5,72,2,8,44,1,32,5]

In [91]:
l.sort()

In [92]:
l

[1, 2, 5, 5, 8, 32, 44, 72]

In [93]:
l.sort(reverse=True)

In [94]:
l

[72, 44, 32, 8, 5, 5, 2, 1]