In classroom there is hiring.csv. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

2 yr experience, 9 test score, 6 interview score <br>
12 yr experience, 10 test score, 10 interview score

In [1]:
import pandas as pd
df = pd.read_csv('hiring.csv')
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         NaN                7   72000
7          11         7.0                8   80000

In [2]:
# Fill NaN values with the mean
df['test_score'].fillna(df['test_score'].mean(), inplace=True)
df

   experience  test_score  interview_score  salary
0           0    8.000000                9   50000
1           0    8.000000                6   45000
2           5    6.000000                7   60000
3           2   10.000000               10   65000
4           7    9.000000                6   70000
5           3    7.000000               10   62000
6          10    7.857143                7   72000
7          11    7.000000                8   80000

In [3]:
x = df[['experience', 'test_score', 'interview_score']]
y = df['salary']

In [4]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x, y)

LinearRegression()

In [5]:
model.predict([[2,9,6]])  # 2 yr experience, 9 test score, 6 interview score

D:\softwares\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53290.89255945])

In [6]:
model.predict([[12,10,10]])  # 12 yr experience, 10 test score, 10 interview score

D:\softwares\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92268.07227784])

In [7]:
import pickle
# save the model
with open('multivariable_hiring','wb') as f:
    pickle.dump(model,f)

In [8]:
with open('multivariable_hiring','rb') as f:
    mp = pickle.load(f)

In [9]:
# Make predictions on new data
new_candidates = pd.DataFrame({
    'experience': [2, 12],
    'test_score': [9, 10],
    'interview_score': [6, 10]
})

predictions = mp.predict(new_candidates)

for i in range(len(predictions)):
    print(f"Predicted salary for candidate {i+1}: ${predictions[i]:.2f}")

Predicted salary for candidate 1: $53290.89
Predicted salary for candidate 2: $92268.07